<div class="row" ng-controller="SubscribeCtrl">
  <div class="large-10 columns">

    <form ng-submit="addFormSubmit()" ng-show="addFormShow">
        <h3>Add Subscription</h3>
        <!-- Add Form -->
        <div class="row">
          <div class="large-6 columns">
            <label>Name of Subscription:
              <input type="text" ng-model="name" placeholder="Subscription Name" required />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Monthly Cost of Subscription:
              <input type="text" ng-model="price" placeholder="Subscription PRice" required />
            </label>
          </div>
       </div>
       <div class="row">
          <div class="large-12 columns">
              <input type="submit" value="Add Subscription" class="button" />
          </div>
       </div>
    </form>
    <h3>Your Subscriptions 3</h3>
       <table>
      <thead>
        <tr>
          <th width="200px">Name of Service</th>
          <th width="200px;">Monthly Cost</th>
          <th width="25%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat= "subscribed in subsribe">
          <td><a href="#">{{subscribed.name}}</a></td>
          <td>{{subscribed.price}}</td>
          <td><a class="button tiny" ng-click="showEditForm(subscribed)">Edit</a> 
            <a class="button tiny alert" ng-click="removeSubscription(subscribed)">Delete</a></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="small-12 large-2 columns">
      <a class="button medium" ng-click="showAddForm()" >+</a>
      <a class="button medium">-</a>
    </div>
</div>




